$body-darck : #202023;
$body-light : #dddddd;
$nav-light : #eeeeee;

$message-darck : #313134;
$message_light : #eeeeee;

$blue : #008fe2;

$font-light : #ffffff;
$font-darck : #000000;

$green : green;
$red : rgba(255, 0, 0, 0.733);

$medium : medium;
$large : large;
$x-large : x-large;
$xx-large : xx-large;
$x3-large : 40px;
$x4-large : 60px;
$small : small;
$black : black;

$phone : 700px;
$tablet : 1300px;

$close-icon : 20px;