$dark-theme : #202020;
$light-theme : rgb(247, 237, 224);

$dark-scroll-top : #1212137c;
$light-scroll-top : rgb(197, 179, 155);

$border-color-dark:rgba(168, 168, 168, 0.548);
$border-color-light:rgba(27, 27, 27, 0.733);

$menu-dark:#2d3748;
$menu-light:#fff;

$log-in-dark:#202225;
$log-in-light:#f7f7f7;

$loading-dark:#2d374862;
$loading-light:#ffffff50;

$confirm-form-dark:#2d37482c;
$confirm-form-light:#ffffff21;

$loading-points-dark : #444444;
$loading-points-light : rgb(226, 226, 226);

$input-dark:#3b3b3b;
$input-light:rgb(223, 223, 223);

$message-dark:#1d1f24;
$message-light:rgb(202, 202, 202);

$menu-item-dark:#2a303b;
$menu-item-light:#f0e7db;

$message-dark : #313134;

$chips-dark : #333333;
$chips-light : #5f5f5f;

$chips-green-body : #22543d;
$chips-green-text : #9ae6b4;


// $message_light : #eeeeee;

$blue : #81e6d9;

$blue-1-light : #5fada4;
$blue-2-light : #98cfc944;

$blue-1-dark : #81e6d9;
$blue-2-dark : #bcf0e944;

$dark-icon-theme-color:#805ad5;
$light-icon-theme-color:#fbd38d;

$links-dark:#ad0a64;
$links-light:#0350f7;

$font-light : #ffffff;
$font-dark : #000000;

$error-message-body:rgba(231, 63, 63, 0.719);
$error-message-border:rgba(230, 48, 48, 0.829);


$success-message-body:rgba(47, 177, 36, 0.555);
$success-message-border:rgba(90, 241, 60, 0.719);

// confirm form colors
$confirm-form-red-body:rgba(231, 63, 63, 0.719);
$confirm-form-red-border:rgba(230, 48, 48, 0.829);


$confirm-form-green-body:rgba(47, 177, 36, 0.555);
$confirm-form-green-border:rgba(53, 172, 29, 0.719);
// confirm form colors


$green : green;
$red : rgba(255, 0, 0, 0.733);

$medium : medium;
$large : large;
$x-large : x-large;
$xx-large : xx-large;
$x3-large : 40px;
$x4-large : 50px;
$small : small;
$x-small : x-small;
$black : black;

$shadow-black : black;
$shadow-light : rgb(116, 116, 116);

$phone : 700px;
$tablet : 1300px;

$close-icon : 20px;