$dark-theme : #121213;
$light-theme : rgb(240, 231, 219);

$border-color-dark:rgba(168, 168, 168, 0.548);
$border-color-light:rgba(27, 27, 27, 0.548);

$menu-dark:#2d3748;
$menu-light:#fff;

$message-dark:#1d1f24;
$message-light:rgb(253, 242, 222);

$menu-item-dark:#2a303b;
$menu-item-light:#f0e7db;

$message-dark : #313134;
// $message_light : #eeeeee;

$blue : #81e6d9;

$blue-1-light : #5fada4;
$blue-2-light : #98cfc944;

$blue-1-dark : #81e6d9;
$blue-2-dark : #bcf0e944;

$dark-icon-theme-color:#805ad5;
$light-icon-theme-color:#fbd38d;

$font-light : #ffffff;
$font-dark : #000000;

$green : green;
$red : rgba(255, 0, 0, 0.733);

$medium : medium;
$large : large;
$x-large : x-large;
$xx-large : xx-large;
$x3-large : 40px;
$x4-large : 50px;
$small : small;
$x-small : x-small;
$black : black;

$phone : 700px;
$tablet : 1300px;

$close-icon : 20px;