#dash-darck-page {
    .Info-component {
        width: 50%;
        margin: 100px 10px;
        height: auto;
        padding: 10px 0px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 0 10px $black;
        @media (max-width:$phone) {
            width: 90%;
        }
    
        svg {
            font-size: $x-large;
            color: $font-light;
            position: absolute;
            right: 5%;
            top: 6%;
            cursor: pointer;
            transition-duration: 0.5s;
        }
    
        svg:hover {
            color: $blue;
        }
    
        h1 {
            width: 100%;
            height: auto;
            padding: 10px 0px;
            margin-bottom: 20px;
            color: $font-light;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid;
            border-color: transparent transparent $body-light transparent;
        }
    
        h3 {
            width: 100%;
            padding: 0px 10px;
            margin-top: 40px;
            color: $font-light;
        }
    
        div {
            width: 100%;
            min-height: 40px;
            padding: 5px 20px;
            color: $font-light;
        }
    }
}

#dash-light-page {
    .Info-component {
        @extend .Info-component;

        h1 {
            color: $font-darck;
            border-color: transparent transparent $body-darck transparent;
        }

        svg {
            color: $font-darck;
        }
        
        h3 {
            width: 100%;
            padding: 0px 10px;
            margin-top: 40px;
            color: $font-darck;
        }
    
        div {
            width: 100%;
            min-height: 40px;
            padding: 5px 20px;
            color: $font-darck;
        }
    }
}
